/* accordion общие классы */

.accordion {
  display: flex;
  flex-direction: column;
}
.accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
  cursor: pointer;
  user-select: none;
}
.accordion-container.active .accordion-header {
  margin-bottom: 1.5rem;
}
.accordion-body {
  height: 0;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  -ms-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0s;
}

.accordion-container.active .accordion-body {
  height: 100%;
  opacity: 1;
  visibility: visible;
  overflow: unset;
  -webkit-transition: opacity 0.4s ease-out 0s;
  -moz-transition: opacity 0.4s ease-out 0s;
  -ms-transition: opacity 0.4s ease-out 0s;
  -o-transition: opacity 0.4s ease-out 0s;
  transition: opacity 0.4s ease-out 0s;
}

.accordion-title {
  display: flex;
  margin-right: 1rem;
  font-family: var(--second-font);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
}
/* стрелки для аккордеона и возврата назад */
.arrow-left-icon,
.arrow-down-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 1.5rem;
  min-width: 1.5rem;
  height: 1.5rem;
  width: 1.5rem;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.arrow-left-icon:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  box-shadow: 0 0 0 0.3125rem rgba(255, 255, 255, 0.2);
}
.arrow-down-icon:hover {
  background-color: #151516;
  border-radius: 50%;
  box-shadow: 0 0 0 0.3125rem rgba(21, 21, 22, 1);
}
.accordion-container.active .arrow-down-icon {
  transform: rotate(-180deg);
}
/* *** */
