/* Общие стили для кнопки */

.button {
  display: flex;
  align-items: center;
  width: 100%;
  border: 0;
  cursor: pointer;
  user-select: none;
}

/* *** */

/* flex-стили */

.jc-space-between {
  justify-content: space-between;
}

.jc-center {
  justify-content: center;
}

/* *** */

/* Стилизация кнопки с шагами (возврата назад) */

.previous-button {
  max-width: max-content;
  padding: 0;
  background: transparent;
  text-decoration: none;
}

.previous-button img {
  height: 0.75rem;
  margin-right: 1rem;
}

.previous-button__text {
  width: max-content;
  color: var(--yellow);
  font-family: var(--second-font);
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
}

.previous-button .previous-button__text:hover {
  text-shadow: 0 0 0.3125rem var(--yellow);
}

@media screen and (max-width: 767px) {
  .previous-button img {
    margin-right: 0.725rem;
    height: 0.625rem;
  }

  .previous-button__text {
    font-size: 0.875rem;
  }
}

/* *** */

/* Стилизация кнопки копирования в буфер обмена */

.clipboard-button {
  justify-content: center;
  height: 3rem;
  padding: 0.625rem;
  padding: 0.375rem;
  color: var(--white);
  font-size: 0.875rem;
  background: transparent;
  border: 0.0625rem dashed var(--blue);
  border-radius: 2rem;
  transition: background 0.2s ease;
}

.clipboard-button:hover {
  background: var(--blue);
}

.clipboard-button svg {
  height: 1.25rem;
  width: 1.25rem;
  margin-right: 0.5rem;
}

.clipboard-button:hover svg path {
  stroke: var(--white);
}

.clipboard-button:active {
  background: transparent;
}

/* *** */

/* Стилизация кнопки перехода на следующий шаг */

.next-button {
  height: 3rem;
  padding: 0.625rem 1.5rem;
  color: var(--white);
  border-radius: 0.5rem;
  transition: background 0.2s ease;
}

.--blue {
  background: var(--dark-blue);
}

.--black {
  background: var(--card-bg);
}

.next-button img {
  height: 0.75rem;
  transform: rotate(180deg);
}

.next-button:hover {
  background: var(--blue);
}

.next-button:active {
  background: var(--dark-blue);
}
/* *** */
