/* .form__seed-phrases {
  position: relative;
}

.seed-phrases__radio {
  position: absolute;
  top: -2em;
  width: 4em;
  height: 1.25em;
  margin: 0;
  border-radius: 3em;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}

.seed-phrases__button {
  position: absolute;
  top: -2em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4em;
  height: 1.25em;
  user-select: none;
}

.seed-phrases__radio:checked + .seed-phrases__button {
  position: absolute;
  top: -2em;
  background: var(--blue);
  border-radius: 3em;
}

.seed-phrases__button:nth-of-type(1) {
  right: 4.5em;
}

.seed-phrases__button:nth-of-type(2) {
  right: 0;
}

.seed-phrases__radio:nth-of-type(1) {
  right: 4.5em;
}

.seed-phrases__radio:nth-of-type(2) {
  right: 0;
}

.seed-phrases__radio:not(:checked) + span + .seed-phrases__side {
  display: none;
  transition: all 0.2s ease-in;
} */
