.custom-input {
  display: flex;
  flex-direction: column;
}

.custom-input label {
  position: relative;
}

label .icon {
  position: absolute;
  content: "";
  top: 50%;
  right: 0.25em;
  width: 1.5em;
  height: 1.5em;
  background-image: url(../images/eye.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: translateY(-50%);
  transition: all 0.2s ease;
  cursor: pointer;
}

label .icon:hover {
  background-image: url(../images/eye-blue.svg);
}

label .icon.view {
  background-image: url(../images/eye-off.svg);
}

label .icon.view:hover {
  background-image: url(../images/eye-off-blue.svg);
}

.custom-input__field {
  width: 100%;
  color: var(--white);
  background-color: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0.0625em solid var(--input-border);
  outline: none;
}

.custom-input__field {
  padding: 1em 0;
}

.custom-input__field.password {
  padding: 1em 2em 1em 0;
}

/* Стили для бордера у поля ввода */

.custom-input__field.error {
  border-bottom-color: var(--red);
}

.custom-input__field.success {
  border-bottom-color: var(--green);
}

.custom-input__field:focus {
  border-bottom-color: var(--blue);
}

/* Стили для текстового поля о валидности */

.custom-input__text-wrap p {
  font-size: 0;
}

.custom-input__text-wrap.primary .primary-text {
  font-size: 0.75em;
  line-height: 2;
}
.custom-input__text-wrap.error .error-text {
  font-size: 0.75em;
  line-height: 2;
}
.custom-input__text-wrap.success .success-text {
  font-size: 0.75em;
  line-height: 2;
}

.primary-text {
  color: var(--gray);
}

.error-text {
  color: var(--red);
}

.success-text {
  color: var(--green);
}

/* Плавное появление блока создания дополнительного шифра */
#chiperForPhrases {
  opacity: 1;
  -webkit-animation: fadeInFromNone 0.3s ease-out;
  -moz-animation: fadeInFromNone 0.3s ease-out;
  -o-animation: fadeInFromNone 0.3s ease-out;
  animation: fadeInFromNone 0.3s ease-out;
}

#chiperForPhrases.fade {
  display: none;
  opacity: 0;
}

@-webkit-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-moz-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-o-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}
