::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  padding-right: 10px;
  background: var(--disabled-black);
  border: 4px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, #b3ffab, #12fff7);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
}

.form::-webkit-scrollbar {
  display: none;
}
