body {
  color: var(--white);
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  text-decoration: none;
  color: inherit;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}